@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body{
    background-color: white;
    margin: 0;
    height: 100%;
}

html{
    height: 100%;
}

/* Image styling */

#navbar_bg{
    width: 100%;
    margin-bottom: -10px;
    padding: 0;
}


#footer_image{
    width: 100%;
    margin: 0;
    margin-bottom: -10px;
    height: 50px;
    padding: 0;
}

/* Text styling */

#naziv_firme{
    font-family: 'Roboto', bold;
    font-size: 30pt;
    margin-top: 10px;
}

#header_logo_image{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer_text{
    position: fixed;
    bottom:0;
    left: 43%;
    margin-bottom: 20px;
    z-index: 100;
    text-align: center;
}

#djelatnost_firme{
    font-family: 'Roboto', italic;
    font-size: 10pt;
    margin-top: -40px;
    color: black;
}

/* Div styling */

#wrapper_div{
    position: relative;
}

#headerKomentari
{
	margin-top: 400px;
}

#korisnikHeader
{
	margin-top: 100px;
}

#header_div{
    width: 100%;
    margin: 0;
    background-image: url("/servis/Resursi/Slike/header_bg.png");
    background-repeat: no-repeat;
}

#navbar_div{
    width: 100%;
    height: 50px;
    background-color: #f92a28;
    background-size: contain;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    padding-left: 0;
    height: 50px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #e52523;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
}

.nav li {
    display: inline-block;
    margin-right: -4px;
}

.nav li ul{
    position:absolute;
    visibility:hidden;
    z-index: 300;
    margin:0;
    padding:0;
}

.nav li ul li{
    display:block;
    z-index: 300;
    float:none;
}

.nav li ul li a:link, .nav li ul li a:visited {
    background-color:#f92a28;
    z-index: 300;
    width:auto;
}

.nav li ul li a:hover {
    background-color:#e52523;
    z-index: 300;
}

#navbar_container{
    font-size: 0;
}

#footer_div{
    width: 100%;
    height: 50px;
    position:relative;
}

#footer_container{
    position:relative;
    height: 100px;
}

#news_container{
    position:relative;
    margin-top:50px;
	overflow:hidden;
}

/* Klase */

.djelatnost{
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    color: white;
}

.container{
    width:100%;
    min-height:100%;
    margin-bottom: -50px;
	position: relative;
}

.news_header{
    font-family: 'Oxygen', sans-serif;
    font-size: 13pt;
    color: #ffffff;

    margin-left: 20%;
}

.admin_header_centered{
    font-family: 'Oxygen', sans-serif;
    font-size: 13pt;
    color: #ffffff;
	text-align: center;
}

.news_item{
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
    font-size: 10pt;
    color: #ffffff;

    margin-bottom: 10px;
    margin-left: 20%;
}

.comment_item{
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
    font-size: 10pt;
    color: #ffffff;
	float: left;
	margin-left: 260px;
	bottom: 10px;
	left: 0;
}

.comment_show
{
	font-family: 'Oxygen', sans-serif;
    font-style: italic;
    font-size: 10pt;
    color: #ffffff;
    margin-bottom: 10px;
	margin-left: 5%;
}

.comment_header
{
	font-family: 'Oxygen', sans-serif;
    font-size: 13pt;
    color: #ffffff;
    margin-left: 5%;
}

.authorsAndDate{
    font-family: 'Oxygen', sans-serif;
    font-size: 8pt;
    color: #ffffff;
    margin-left: 20%;
}

.detaljnijeLink{
    font-family: 'Oxygen', normal;
    float: right;
    font-size: 10pt;
    color: white;
    margin-bottom: 10px;
}

.detaljnijeLink:hover{
    color:black;
}

.newsNotOne{
    margin-top:5px;
}

.clearfooter {
    height: 50px;
    clear: both;
}

.news_image{
    border: solid 4px white;
    box-shadow: 2px 2px 5px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
	max-width: 100%;
	height: auto;
	width: auto;
}

.news_image box-shadow{
    opacity: 0.4;
}

.newsContainer{
    overflow: auto;
}

.newsDivNormalState{
    background-color: #fb413d;
    width: 100%;
	min-height: 100%;
	height:100%;
	overflow: hidden;
}

.newsDivNotLoggedIn{
    background-color: #fb413d;
    width: 100%;
	min-height: 100%;
	height:1000px;
	overflow: hidden;
}

.newsDivNormalStateCommenting{
    background-color: #fb413d;
    width: 100%;
	height: 1500px;
	overflow: hidden;
}

.newsDivOneNewsItem{
    background-color: #fb413d;
    width: 100%;
	height:500px;
	overflow: hidden;
}

.newsDivOneNewsItemComments{
    background-color: #fb413d;
    width: 100%;
	height:500px;
	overflow: hidden;
}

.newsDivOneCenteredForm{
    background-color: #fb413d;
    width: 100%;
	height:1200px;
	overflow: hidden;
	text-align: center;
}

.newsDivAdminPanel
{
	background-color: #fb413d;
    width: 100%;
	height:1000px;
	overflow: hidden;
}

.adminFormElements
{
	font-family: 'Oxygen', sans-serif;
    font-size: 12pt;
    color: white;
    padding-left: 35%;
}

.adminIndividualFormElement
{
	margin-left: 15%;
}

.divColumnClass
{
	float: left;
	width: 33%;
}

.divCentered
{
	margin: 0 auto;
	width: 33%;
}

.formElements{
    font-family: 'Oxygen', sans-serif;
    font-size: 12pt;
    color: white;
}

.maxDimensionsImage
{
	position: relative;
	max-width: 220px;
	max-height: 200px;
}

.novostiImage
{
	max-width: 100%;
	height: auto;
	width: auto;
}
