@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body{
    background-color: white;
    margin: 0;
    height: 100%;
}

html{
    height: 100%;
}



/* Image styling */

#navbar_bg{
    width: 100%;
    margin-bottom: -10px;
    padding: 0;
}


#footer_image{
    width: 100%;
    margin: 0;
    margin-bottom: -10px;
    height: 50px;
    padding: 0;
}

/* Text styling */

#naziv_firme{
    font-family: 'Roboto', bold;
    font-size: 30pt;
    margin-top: 10px;
}

#header_logo_image{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer_text{
    position: fixed;
    bottom:0;
    left: 43%;
    margin-bottom: 20px;
    z-index: 100;
    text-align: center;
}

#djelatnost_firme{
    font-family: 'Roboto', italic;
    font-size: 10pt;
    margin-top: -40px;
    color: black;
}

/* Div styling */

#wrapper_div{
    position: relative;
}

#header_div{
    width: 100%;
    margin: 0;
    background-image: url("/servis/Resursi/Slike/header_bg.png");
    background-repeat: no-repeat;
}

#navbar_div{
    width: 100%;
    height: 50px;
    background-color: #f92a28;
    background-size: contain;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    padding-left: 0;
    height: 50px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #e52523;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
}

.nav li {
    display: inline-block;
    margin-right: -4px;
}

.nav li ul{
    position:absolute;
    visibility:hidden;
    z-index: 300;
    margin:0;
    padding:0;
}

.nav li ul li{
    display:block;
    z-index: 300;
    float:none;
}

.nav li ul li a:link, .nav li ul li a:visited {
    background-color:#f92a28;
    z-index: 300;
    width:auto;
}

.nav li ul li a:hover {
    background-color:#e52523;
    z-index: 300;
}

#navbar_container{
    font-size: 0;
}

#footer_div{
    width: 100%;
    height: 50px;
    position:relative;
}

#footer_container{
    position:relative;
    height: 100px;
}

#table_container{
    position:relative;
    background-color: #fb413d;
    margin-top:50px;
    height: 1000px;
}

#table_div{
    background-color: #fb413d;
    width: 100%;
    overflow: hidden;
    height: 100%;
}


/* Klase */

.djelatnost{
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    color: white;
}

.news_item{
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    color: #ffffff;
    text-align: center;
}

.container{
    width:100%;
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}

.detaljnijeLink{
    font-family: 'Oxygen', normal;
    float: right;
    font-size: 10pt;
    color: white;
    margin-bottom: 10px;
}

.detaljnijeLink:hover{
    color:black;
}

.newsNotOne{
    margin-top:5px;
}

.clearfooter {
    height: 50px;
    clear: both;
}

.tableStyle{
    margin: 0 auto;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    color: #ffffff;
    width: 70%;
    border-spacing: 1px;
}

.tableHeaders{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
}

.tabledata{
    text-align: center;
    margin: 0 auto;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    color: #ffffff;
    border: solid 1px black;
    border-spacing: 0px;
}

.tableheaderdata{
    border: solid 1px black;
    text-align: center;
}

.headerRow{
    text-align: center;
    border: solid 1px black;
}

.centeredButtons{
    text-align: center;
}
